doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Todo App
        // Link to the app stylesheet
        link(rel="stylesheet" href="/css/style.css")
    body
        main.container
            header.app-header
                h1.app-title Todo List Web App
            // Todo list
            include include/showTodo.pug
            // Add todo form
            include include/addTodo.pug
            footer.app-footer
                p © Todo App