ul
    each todo in todos
        li
            span= todo
            i.fas.fa-times(style="cursor:pointer; margin-left:10px;", onclick=`location.href='/deleteTodo?item=${encodeURIComponent(todo)}'`)
